body{
    background-color: #0a0a0a;
    color: white;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Open Sans', sans-serif
}


#hey{
    text-align: center;
    font-style: italic;
}

#nama{
    text-align: center;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 30px;
}

img{
    display: block;
    margin: auto;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.about {
    text-align: justify;
    max-width: 400px;
    margin: auto;
}

.bio{
    text-align: justify;
    max-width: 400px;
    margin: auto;
}

